# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

.terraform/
terraform.tfstate
terraform.tfstate.*
terraform.tfvars


# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc
